body
{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
        
}


/* -----------------------------------NAVBAR------------------------------------- */


.navbar
{    
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 20px;
}

.nav-list{
    position: absolute;
    width: 100%;
    top: 20px;
    left: 880px;
}

.nav-list li
{
    
    display: inline;
    list-style: none;
    padding: 0px 10px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
}

.nav-list li a{
    text-decoration: none;
    color: gray;
}

.home
{
    position: absolute;
    top: 40px;
    left: 920px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 0px 10px;
}

.home a
{
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.underline
{
    position: absolute;
    top: 82px;
    left: 919px;
    width: 67px;
    height: 1px;
    background-color: rgb(56, 56, 56);
}

.video
{
    position: absolute;
    top: 40px;
    left: 990px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 0px 10px;
}

.video a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.underlinev
{
    position: absolute;
    top: 82px;
    left: 988px;
    width: 67px;
    height: 1px;
    background-color: rgb(56, 56, 56);
}

.support
{
    position: absolute;
    top: 40px;
    left: 1057px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 0px 10px;
}

.support a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.underlines
{
    position: absolute;
    top: 82px;
    left: 1058px;
    width: 67px;
    height: 1px;
    background-color: rgb(56, 56, 56);
}

.blog
{
    position: absolute;
    top: 40px;
    left: 1128px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 0px 10px;
}

.blog a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.underlineb
{
    position: absolute;
    top: 82px;
    left: 1124px;
    width: 67px;
    height: 1px;
    background-color: rgb(56, 56, 56);
}

.contact
{
    position: absolute;
    top: 40px;
    left: 1185px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 0px 10px;
}

.contact a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.underlinec
{
    position: absolute;
    top: 82px;
    left: 1193px;
    width: 67px;
    height: 1px;
    background-color: rgb(56, 56, 56);
}

.nav-social{
    position: absolute;
    width: 100%;
    top: 14px;
    left: 1255px;
}

.nav-social li
{
    display: inline;
    list-style: none;
    padding: 0px 22px;
    
}

.nav-social li a{
    text-decoration: none;
    color: rgb(209, 208, 208);
}

.media-circle
{
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline;
    background: white;
}


.media-circle:hover
{
    background-color: rgb(201, 201, 201);
}

.nav-list li a:hover
{
    color:  black;

}

/* -------------------------------------BODY--------------------------------------- */


/* HOME PAGE CSS */

.text-part-back
{
    position: absolute;
    left: 0px;
    top: 135px;
    width: 70%;
    height: 800px;
    background-color: black;
}

.iam
{
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-style: normal;
    font-family: 'Work Sans', sans-serif;
}

.aboutme
{
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.photo
{
    position: absolute;
    right: 0px;
    top: 135px;
    width: 30%;
    height: 800px;
    background-color: rgb(201, 199, 199);
}

.photo img
{
    position: absolute;
    height: 800px;
    right: -90px;
}

/* VIDEO PAGE CSS */

.video-back
{
    position: absolute;
    overflow-y: auto;
    left: 0px;
    top: 135px;
    width: 100%;
    height: 850px;
    background-color: #f0efef;
}

.video1
{
    position: absolute;
    left: 120px;
    top: 20px;
}


.video2
{
    position: absolute;
    right: 120px;
    top: 20px;
}

.video3
{
    position: absolute;
    left: 120px;
    top: 355px;
}

.video4
{
    position: absolute;
    right: 120px;
    top: 355px;
}

.video5
{
    position: absolute;
    left: 120px;
    top: 690px;
}

.video6
{
    position: absolute;
    right: 120px;
    top: 690px;
}


.video7
{
    position: absolute;
    left: 120px;
    top: 1025px;
}

.video8
{
    position: absolute;
    right: 120px;
    top: 1025px;
}

.video9
{
    position: absolute;
    left: 120px;
    top: 1360px;
}

.video10
{
    position: absolute;
    right: 120px;
    top: 1360px;
}

.video11
{
    position: absolute;
    left: 120px;
    top: 1695px;
}


.video12
{
    position: absolute;
    right: 120px;
    top: 1695px;
}

.video13
{
    position: absolute;
    left: 120px;
    top: 2030px;
}

.video14
{
    position: absolute;
    right: 120px;
    top: 2030px;
}

.video15
{
    position: absolute;
    left: 120px;
    top: 2365px;
}

.video16
{
    position: absolute;
    right: 120px;
    top: 2365px;
}


.video17
{
    position: absolute;
    left: 120px;
    top: 2700px;
}

.video18
{
    position: absolute;
    right: 120px;
    top: 2700px;
}

.video19
{
    position: absolute;
    left: 120px;
    top: 3035px;
}

.video20
{
    position: absolute;
    right: 120px;
    top: 3035px;
}

.video21
{
    position: absolute;
    left: 120px;
    top: 3370px;
}


.video22
{
    position: absolute;
    right: 120px;
    top: 3370px;
}

.video23
{
    position: absolute;
    left: 120px;
    top: 3705px;
}

.video24
{
    position: absolute;
    right: 120px;
    top: 3705px;
}

.video25
{
    position: absolute;
    left: 120px;
    top: 4040px;
    padding-bottom: 20px;
}

/* CONTACT PAGE */

.left-c
{
    position: absolute;
    left: 0px;
    top: 90px;
    width: 50%;
    height: 850px;
    
}

.get_in
{
    position: relative;
    top: 0px;
    padding: 150px;
    font-size: 50px;
    color: black;
    font-style: normal;
    font-family: 'Work Sans', sans-serif;
}

.form
{
    position: absolute;
    right: 0px;
    top: 90px;
    width: 50%;
    height: 850px;
}

.name
{
    position: relative;
    top: 100px;
    padding: 10px 100px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

.fname-input{
    position: relative;
    width: 35%;
    left: 100px;
    top: 110px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

.lname-input
{
    position: relative;
    top: 110px;
    width: 35%;
    left: 140px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

.email
{
    position: relative;
    top: 140px;
    padding: 10px 100px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

.email-input
{
    position: relative;
    width: 50%;
    top: 150px;
    left: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

.message
{
    position: relative;
    top: 170px;
    padding: 10px 100px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

.message-input
{
    position: relative;
    width: 60%;
    top: 180px;
    left: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

.submit
{
    position: relative;
    top: 220px;
    left: 100px;
    height: 60px;
    width: 110px;
    background-color: black;
}

.submit:hover
{
    background-color: rgb(65, 65, 65);
}

.submit a p
{
    position: relative;
    top: 20px;
    font-size: 16px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.submit a
{
    text-decoration: none;
    color: white;
}



/* -------------------------FOOTER---------------------------- */


.footer
{
    position: absolute;
    width: 100%;
    top: 900px;
    height: 550px;
}

.big-text
{
    position: relative;
    text-align: center;
    top: 170px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 35px;
    color: rgb(56, 56, 56);    
}

.small-text
{
    position: relative;
    text-align: center;
    top: 140px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    color: rgb(114, 114, 114);    
}

.subscribe
{
    position: relative;
    top: 160px;
    left: 700px;
    height: 60px;
    width: 110px;
    background-color: black;
}

.subscribe:hover
{
    background-color: rgb(65, 65, 65);
}

.sub-text
{
    position: relative;
    top: 11px;
    font-size: 16px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.sub-link
{
    text-decoration: none;
    color: white;
}

.bottom-nav-social{
    position: relative;
    top: 200px;
    left: 612px;
}

.bottom-nav-social li a{
    text-decoration: none;
    color: rgb(209, 208, 208);
}

.bottom-nav-social li
{
    display: inline;
    list-style: none;
    padding: 0px 22px;
    
}

.archana
{
    position: relative;
    top: 245px;
    left: 689px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    color:  rgb(153, 152, 152);
}